.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-field {
    width: 100%;
}
.form-submit-button {
    width: 60%;
}